.App {
  background-image: url('https://images.unsplash.com/photo-1539635278303-d4002c07eae3?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace 'background-image.jpg' with your actual image file path */
  background-size: cover; /* Adjust the size to fit your needs */
  background-position: center; /* Center the background image */
  height: 100vh; /* Set the height to cover the entire viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Additional styles for your form container */
.form-container {
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background to the form container */
  padding: 20px;
  border-radius: 8px;
}

